from .result import issue, ok, invalid
from .types import BooleanGuard, GuardIssue, GuardResultOf, GuardRule
from .utils import kind_of, describe_value

class BooleanSchema implements BooleanGuard:
  private rules: GuardRule[] = []

  public constructor():
    this.rules = []

  public true_only(message: string = "") -> BooleanGuard:
    this.rules.push({ kind: "true", message: message })
    return this

  public false_only(message: string = "") -> BooleanGuard:
    this.rules.push({ kind: "false", message: message })
    return this

  public validate(value: unknown, path: string = "") -> GuardResultOf<bool>:
    issues: GuardIssue[] = []
    if typeof value != "boolean":
      issues.push(issue(path, "boolean", "value must be a boolean", "boolean", kind_of(value)))
      return invalid<bool>(issues)

    for rule of this.rules:
      if rule.kind == "true" and value !== true:
        msg = rule.message
        if msg == "":
          msg = "value must be true"
        issues.push(issue(path, "true", msg, "true", describe_value(value)))
      else if rule.kind == "false" and value !== false:
        msg = rule.message
        if msg == "":
          msg = "value must be false"
        issues.push(issue(path, "false", msg, "false", describe_value(value)))

    if issues.length == 0:
      return ok<bool>(value)
    return invalid<bool>(issues)

fn make_boolean() -> BooleanGuard:
  return BooleanSchema()
