from .result import issue, ok, invalid
from .types import GuardIssue, GuardObjectValue, GuardResultOf, GuardShape, ObjectGuard
from .utils import kind_of, is_plain_object, path_key, push_all

class ObjectSchema implements ObjectGuard:
  private shape: GuardShape
  private mode: string

  public constructor(shape: GuardShape):
    this.shape = shape
    this.mode = "passthrough"

  public strict() -> ObjectGuard:
    this.mode = "strict"
    return this

  public passthrough() -> ObjectGuard:
    this.mode = "passthrough"
    return this

  public extend(extra_shape: GuardShape) -> ObjectGuard:
    for key of Object.keys(extra_shape):
      this.shape[key] = extra_shape[key]
    return this

  public validate(value: unknown, path: string = "") -> GuardResultOf<GuardObjectValue>:
    issues: GuardIssue[] = []
    if not is_plain_object(value):
      issues.push(issue(path, "object", "value must be an object", "object", kind_of(value)))
      return invalid<GuardObjectValue>(issues)

    for key of Object.keys(this.shape):
      schema = this.shape[key]
      result = schema.validate(value[key], path_key(path, key))
      if not result.ok:
        push_all(issues, result.issues)

    if this.mode == "strict":
      for key of Object.keys(value):
        if not (key in this.shape):
          issues.push(issue(path_key(path, key), "unknown_key", `unknown key '${key}'`, "known key", key))

    if issues.length == 0:
      return ok<GuardObjectValue>(value)
    return invalid<GuardObjectValue>(issues)

fn make_object(shape: GuardShape) -> ObjectGuard:
  return ObjectSchema(shape)
